* {
  margin: 0;
  padding: 0;
}

body {
  /* cursor: url(./assets/cursorWhite.png), auto; */
}

.button:hover {
  cursor: url(./assets/cursorRed.png), auto;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #0e1320;
  /* color: white; */
  position: relative;
  cursor: url(./assets/cursorWhite.png), auto;
}

.container-2 {
  height: 100vh;
  width: 100vw;
  background-color: #0e1320;
  /* color: white; */
  position: relative;
  cursor: url(./assets/cursorDisabled.png), auto;
}

.aim {
  cursor: url(./assets/cursorWhite.png), auto;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 60px;
}

.start-button {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 4px solid white;
  transition: all 0.3s ease;
  padding: 20px 60px;
}

.start-button:hover {
  cursor: url(./assets/cursorRed.png), auto;
  background-color: white;
  color: #0e1320;
}

.target {
  position: absolute;
  z-index: 10;
  color: red;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
}

.score img {
  max-height: 150px;
  width: auto;
}
